<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.manager.dao.GewayBalanceWithdrawDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.manager.model.GewayBalanceWithdrawModel" id="dataMap">
        <result column="geway_id" property="gewayId" jdbcType="BIGINT" />
        <result column="channel_id" property="channelId" jdbcType="BIGINT" />
        <result column="withdraw_type" property="withdrawType" jdbcType="BIT" />
        <result column="money" property="money" jdbcType="VARCHAR" />
        <result column="geway_name" property="gewayName" jdbcType="VARCHAR" />
        <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="curday" property="curday" jdbcType="INTEGER" />
        <result column="curhour" property="curhour" jdbcType="BIT" />
        <result column="count_type" property="countType" jdbcType="BIT" />
        <result column="curminute" property="curminute" jdbcType="BIT" />
        <result column="run_status" property="runStatus" jdbcType="BIT" />
        <result column="run_num" property="runNum" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="BIT" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.geway_id, a.channel_id,a.withdraw_type, a.money, a.curday, a.curhour, a.curminute, a.run_status,
        a.run_num, a.create_time, a.update_time, a.ts_time, a.yn,b.geway_name,c.channel_name,a.count_type
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="gewayId != null and gewayId != '' " >
                and a.geway_id = #{gewayId}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_pr_geway_balance_withdraw a
        left join   tb_pr_geway  b
        on  a.geway_id = b.id
        left join  tb_pr_channel c
        on  a.channel_id = c.id

        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_pr_geway_balance_withdraw a
        left join   tb_pr_geway  b
        on  a.geway_id = b.id
        left join  tb_pr_channel c
        on  a.channel_id = c.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_pr_geway_balance_withdraw a
        left join   tb_pr_geway  b
        on  a.geway_id = b.id
        left join  tb_pr_channel c
        on  a.channel_id = c.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_pr_geway_balance_withdraw a
        left join   tb_pr_geway  b
        on  a.geway_id = b.id
        left join  tb_pr_channel c
        on  a.channel_id = c.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_pr_geway_balance_withdraw a
        left join   tb_pr_geway  b
        on  a.geway_id = b.id
        left join  tb_pr_channel c
        on  a.channel_id = c.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_pr_geway_balance_withdraw
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id  != 0 and id >0" >
                id,
            </if>
            <if test="gewayId  != 0 and gewayId >0" >
                geway_id,
            </if>
            <if test="channelId  != 0 and channelId >0" >
                channel_id,
            </if>
            <if test="withdrawType  != 0 and withdrawType >0" >
                withdraw_type,
            </if>
            <if test="money != null and money != ''" >
                money,
            </if>
            <if test="curday != 0 and curday >0 " >
                curday,
            </if>
            <if test="curhour != 0 and curhour >0" >
                curhour,
            </if>
            <if test="curminute != 0 and curminute >0" >
                curminute,
            </if>
            <if test="runStatus != 0 and runStatus >0" >
                run_status,
            </if>
            <if test="runNum != 0 and runNum >0" >
                run_num,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="tsTime != null" >
                ts_time,
            </if>
            <if test="yn != null" >
                yn,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id  != 0 and id >0" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gewayId  != 0 and gewayId >0" >
                #{gewayId,jdbcType=BIGINT},
            </if>
            <if test="channelId  != 0 and channelId >0" >
                #{channelId,jdbcType=BIGINT},
            </if>
            <if test="withdrawType  != 0 and withdrawType >0" >
                #{withdrawType,jdbcType=BIT},
            </if>
            <if test="money != null and money != ''" >
                #{money,jdbcType=VARCHAR},
            </if>
            <if test="curday != 0 and curday >0 " >
                #{curday,jdbcType=INTEGER},
            </if>
            <if test="curhour != 0 and curhour >0" >
                #{curhour,jdbcType=BIT},
            </if>
            <if test="curminute != 0 and curminute >0" >
                #{curminute,jdbcType=BIT},
            </if>
            <if test="runStatus != 0 and runStatus >0" >
                #{runStatus,jdbcType=BIT},
            </if>
            <if test="runNum != 0 and runNum >0" >
                #{runNum,jdbcType=BIT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tsTime != null" >
                #{tsTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null" >
                #{yn,jdbcType=BIT},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_pr_geway_balance_withdraw a
        <trim prefix="set" suffixOverrides=",">
            <if test="balance != null and balance != ''" >
                #{balance,jdbcType=VARCHAR},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_pr_geway_balance_withdraw a
        <trim prefix="set" suffixOverrides=",">
            a.update_time=NOW()
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_pr_geway_balance_withdraw a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>


    <!-- 更新渠道的余额 -->
    <update id="updateBalance" parameterType="Object">
        UPDATE tb_pr_geway_balance_withdraw a
        <trim prefix="set" suffixOverrides=",">
            <if test="addBalance != null and addBalance != '' " >
                a.balance = a.balance + #{orderMoney},
            </if>
            <if test="subtractBalance != null and subtractBalance != '' " >
                a.balance = a.balance - #{orderMoney},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>

</mapper>